.dds__template--productivity {
  min-height: 100vh;
}


.dds__side-nav__wrapper {
  max-height: calc(100vh - 57px);
}


/* HEADER START */
.dds__action-menu__item > button span:not(.dds__icon) {
  width: 100%;
  padding-left: 8px;
}

.dds__masthead {
  background-color: white;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  flex-wrap: wrap;
}

.dds__msthd-top-right-ctnr {
  display: block;
}

.dds__masthead-left-ctnr {
  width: 100%;
}

.dds__masthead .masthead-menu-logo {
  display: flex;
}

.dellTechLogo {
  height: 23px;
  padding: 0;
  width: 182px;
}

.dds__masthead .logo-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: fit-content;
  width: 100%;
  height: auto;
  cursor: pointer;
  text-decoration: none;
}

.dds__masthead .logo-link:visited {
  color: #0063b8;
}

.masthead-top-ctnr {
  position: relative;
}

.masthead-menu-item {
  color: #636363;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  font-weight: normal;
  font-size: 0.875rem;
  border: none;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.masthead-menu-item:hover,
.masthead-menu-item:focus {
  background-color: #f5f6f7 !important;
  color: #0e0e0e !important;
}

.masthead-menu-item .icon {
  color: #636363;
  font-size: 1rem;
  display: block;
}

.masthead-menu-item .icon-chevron {
  font-size: 0.5rem;
}
/* HEADER END */

/* FOOTER START */
.dds__default-footer {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: #f0f0f0;
  flex-wrap: wrap;
}

.dds__default-footer > .dds__container ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.dds__default-footer > .dds__container li > a {
  color: #636363;
  text-decoration: none;
  display: flex;
}

.dds__default-footer > .dds__container .footer-navigation li > a {
  font-weight: 700;
}

.dds__default-footer > .dds__container li > a:hover {
  color: #636363;
  text-decoration: underline;
}
/* FOOTER END */
